@page {
  size: A4;
  margin: 0;
}
@media screen, print {
  html,
  body {
    width: 210mm;
    height: 297mm;
    margin-top: 2.5mm;
    margin-left: 2.5mm;
    margin-right: 2.5mm;
    -webkit-print-color-adjust: exact;
  }
  /* ... the rest of the rules ... */

  #grid {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .container {
    margin-left: 1mm;
    margin-top: 2.5mm;
    /* text-align: center; */
  }

  .list-contact {
    padding-right: 2.5mm;
    padding-left: 2.5mm;
  }

  .bride {
    font-family: "Great Vibes", cursive;
    font-size: 3mm;
  }
  .wedding {
    font-size: 2mm;
    font-family: SF Pro Mono;
  }

  .name {
    font-family: SF Pro Text;
    /* color: #422004; */
    font-size: 2.5mm;
    font-weight: 500;
  }

  .title-name {
    font-family: SF Pro Text;
    color: #535353;
    font-size: 1.5mm;
    font-weight: 100;
  }

  .top-border {
    background-color: yellow;
  }

  .card {
    /* width: 85.6mm;
    height: 65mm; */
    height: 32mm;
    width: 65mm;
    border-radius: 1mm;
    background-color: #fcf7f1;
    background-image: url("bg-cover.png");
    background-size: cover;
  }

  .qr {
    width: 15mm;
  }

  .title-card {
    margin-top: 2mm;
    /* margin-left: 5mm; */
  }

  .pass-card {
    font-weight: bold;
    font-size: 4mm;
    background-color: yellow;
    color: black;
    text-align: center;
    height: 7mm;
    border-top-left-radius: 2mm;
    border-top-right-radius: 2mm;
    padding: 1mm;
  }

  .code-ticket {
    font-size: 1mm;
    /* font-weight: bold; */
    margin-top: 0mm;
  }

  .code {
    font-family: FXMatrix105MonoPica;
    font-size: 2mm !important;
  }

  .line {
    border-style: dotted;
    border-width: 0.1mm;
  }

  .center {
    text-align: center;
  }

  .mt-2 {
    margin-top: 1mm;
  }

  .ml-3 {
    margin-left: 3mm;
  }
  .size10 {
    font-size: 1mm;
  }

  .right {
    text-align: end;
    margin-right: 5mm;
    /* position: absolute; */
  }
  .bold {
    font-weight: bold;
  }

  .corner-left-top-element {
    width: 25mm;
    height: 25mm;
    position: absolute;
    opacity: 40%;
  }

  .corner-righ-bottom-element {
    width: 30mm;
    height: 30mm;
    /* position: absolute; */
    opacity: 40%;
    transform: rotate(180deg);
    bottom: 0;
    right: 0;
  }
}
